.search-bar {
	margin:5px;
}
.logo {
    max-width: 118px;
}
.search-bar button {
    border-radius: 100%;
    font-size: 1.1rem;
    height: 40px;
    width: 40px;
    line-height: 29px;
    margin-left: 20px;
    text-align: left;
 }
 .search-bar button i {
 	position: relative;
 	left: -1px;
 }
 .search-bar input {
    border-radius: 0;
    box-shadow: none;
    width: 300px;
 }

 /* HEADER */

 header {
    margin-bottom:20px;
 }
